#current-color {
  font-size: clamp(1rem, 9vw, 4rem);
  margin-top: 150px !important;
  font-family: monospace;
  text-shadow: 2px 2px 0 #fff;
}

div.colors {
  margin-top: 50px;
  bottom: 90px;
  width: 100%;

  button {
    margin: 0 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 7px solid #fff;
  }
}

button.active {
  border-color: green !important;
}
